<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- start: Meta -->
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="Chris">
		<title>E2E Tool</title>
		<!-- end: Meta -->
		
		<!-- start: Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- end: Mobile Specific -->
		
		<!-- start: CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/login/style.min.css" rel="stylesheet">
		<link href="/css/login/retina.min.css" rel="stylesheet">
		<!-- end: CSS -->
		
		<!-- start: Favicon and Touch Icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="assets/ico/favicon.png">
		<!-- end: Favicon and Touch Icons -->	
			
	</head>

	<body>
		<div class="container">
			<div class="row">		
				<div class="row">
					<div class="login-box">
						<h2>Login to your account</h2>
						<form class="form-horizontal" action="index.html" method="post">
							<fieldset>
								
								<input class="input-large col-xs-12" name="username" id="username" type="text" placeholder="type username"/>

								<input class="input-large col-xs-12" name="password" id="password" type="password" placeholder="type password"/>

								<div class="clearfix"></div>
								
								<label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>
								
								<div class="clearfix"></div>
								
								<button type="submit" class="btn btn-primary col-xs-12">Login</button>
							</fieldset>	

						</form>
						<hr>
						<h3>Forgot Password?</h3>
						<p>
							No problem, <a href="login.html#">click here</a> to get a new password.
						</p>	
					</div>
				</div><!--/row-->
			</div><!--/row-->				
		</div><!--/container-->
		

		<script src="/js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
		</script>

		<script src="/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
			
		<!-- theme scripts -->
		<script src="/js/login/custom.min.js"></script>
		<script src="/js/login/core.min.js"></script>
			
		<!-- end: JavaScript-->
		
	</body>
</html>