<!DOCTYPE html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tony">
	<title>E2E Tool</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/flat-ui.css" rel="stylesheet">
	<link href="../public/css/demo.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.css" rel="stylesheet">
	<!--link type="text/css" rel="stylesheet" href="../public/jtreecss/syntax/!style.css"/-->
	<!--link type="text/css" rel="stylesheet" href="../public/jtreecss/!style.css"/-->
	<script src="../public/js/jquery-2.0.2.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/jtreelib/jquery.cookie.js"></script>
	<script src="../public/jtreelib/jquery.hotkeys.js"></script>
	<script src="../public/js/jquery.jstree.js"></script>
	<script src="../public/js/!script.js"></script>
</head>

<body>
	<div page="E2E_Detail_Page" id="E2E_Detail_Page">
          	<header class="navbar navbar-default navbar-static-top" style="height:58px;">
				<div class="container">
					<img src="../public/img/HP-Log/HP_Blue_RGB_150_MN.png" class="img-responsive pull-left" alt="Responsive image">
					<a href="#" class="navbar-brand" style="padding-top:15px;">E2E Testing Tool</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<div class="collapse navbar-collapse navHeaderCollapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Help</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</header>
	</div>

	<div class ="container col-xs-12 col-md-12">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="btn btn-info" data-dismiss = "modal">New Flow</a>
					<a class="btn btn-info" data-dismiss = "modal">New Module</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

	<div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<div class="form-group">
   			<input type="text" name="searchcondition" class="form-control search-field" value placeholder="Search App.." id="searchbox">
  		</div>
          <div class="list-group">
            <a href="#" class="list-group-item">Application1</a>
            <a href="#" class="list-group-item">Application2</a>
            <a href="#" class="list-group-item">Application3</a>
            <a href="#" class="list-group-item">Application4</a>
            <a href="#" class="list-group-item">Application5</a>
            <a href="#" class="list-group-item">Application6</a>
            <a href="#" class="list-group-item">Application7</a>
            <a href="#" class="list-group-item">Application8</a>
          </div>
    </div><!--/span-->

	<div class="col-xs-12 col-md-9">

          		<h5>E2E Workflow</h5>
					<p>M - Manual Workflow; A - Automation Workflow</p>
				<div id="demo1" class="demo" style="height:100px;">
					<ul>
						
						<li id="phtml_4">
							<a href="#">Flow One</a>
							<ul>
								<li id="phtml_5">
									<a href="#">Appliaction1 --> Application2 --> Application 3</a>
								</li>
								<li id="phtml_6">
									<a href="#">Appliaction2 --> Application3 --> Application 1</a>
								</li>
							</ul>
						</li>
						<li id="phtml_7">
							<a href="#">Flow Two</a>
							<ul>
								<li id="phtml_8">
									<a href="#">Appliaction1 --> Application2 --> Application 3</a>
								</li>
								<li id="phtml_9">
									<a href="#">Appliaction2 --> Application3 --> Application 1</a>
								</li>
							</ul>
						</li>
						<li id="phtml_10">
							<a href="#">Flow Three</a>
							<ul>
								<li id="phtml_11">
									<a href="#">Appliaction1 --> Application2 --> Application 3</a>
								</li>
								<li id="phtml_12">
									<a href="#">Appliaction2 --> Application3 --> Application 1</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
	</div>
	<style type="text/css">
		#demo1 li { min-height:55px}
	</style>

    <script type="text/javascript">
				$(function () {
					// TO CREATE AN INSTANCE
					// select the tree container using jQuery
					$("#demo1")
						// call `.jstree` with the options object
						.jstree({
							// the `plugins` array allows you to configure the active plugins on this instance
							"plugins" : ["themes","html_data","ui","crrm","hotkeys"],
							// each plugin you have included can have its own config object
							"core" : { "initially_open" : [ "phtml_1" ] }
							// it makes sense to configure a plugin only if overriding the defaults
						})
						// EVENTS
						// each instance triggers its own events - to process those listen on the container
						// all events are in the `.jstree` namespace
						// so listen for `function_name`.`jstree` - you can function names from the docs
						.bind("loaded.jstree", function (event, data) {
							// you get two params - event & data - check the core docs for a detailed description
						});
					// INSTANCES
					// 1) you can call most functions just by selecting the container and calling `.jstree("func",`
					setTimeout(function () { $("#demo1").jstree("set_focus"); }, 500);
					// with the methods below you can call even private functions (prefixed with `_`)
					// 2) you can get the focused instance using `$.jstree._focused()`. 
					setTimeout(function () { $.jstree._focused().select_node("#phtml_1"); }, 1000);
					// 3) you can use $.jstree._reference - just pass the container, a node inside it, or a selector
					setTimeout(function () { $.jstree._reference("#phtml_1").close_node("#phtml_1"); }, 1500);
					// 4) when you are working with an event you can use a shortcut
					$("#demo1").bind("open_node.jstree", function (e, data) {
						// data.inst is the instance which triggered this event
						data.inst.select_node("#phtml_2", true);
					});
					setTimeout(function () { $.jstree._reference("#phtml_1").open_node("#phtml_1"); }, 2500);
				});

				$(function () {
					$("#demo1")
						.jstree({ "plugins" : ["themes","html_data","ui"] })
						// 1) if using the UI plugin bind to select_node
						.bind("select_node.jstree", function (event, data) { 
							// `data.rslt.obj` is the jquery extended node that was clicked
							alert(data.rslt.obj.attr("id"));
						})
						// 2) if not using the UI plugin - the Anchor tags work as expected
						//    so if the anchor has a HREF attirbute - the page will be changed
						//    you can actually prevent the default, etc (normal jquery usage)
						.delegate("a", "click", function (event, data) { event.preventDefault(); })
				});
	</script>

	<footer class="navbar navbar-default navbar-fixed-bottom">
				<div class="container">
					<p class="navbar-text pull-right">Version 1.0</p>
				</div>
	</footer>

</body>



