<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Tony">
		<title>E2E Tool</title>
		<link href="../public/css/bootstrap.min.css" rel="stylesheet">
		<link href="../public/css/flat-ui.css" rel="stylesheet">
		<link href="../public/css/demo.css" rel="stylesheet">
		<link href="../public/css/bootstrap-theme.css" rel="stylesheet">
		<!--link href="../public/css/signin.css" rel="stylesheet"-->
	</head>

	<body>
		<div page="Login" id="Loginpage">
			<header class="navbar navbar-default navbar-static-top" style="height:58px;">
				<div class="container">
					<img src="../public/img/HP-Log/HP_Blue_RGB_150_MN.png" class="img-responsive pull-left" alt="Responsive image">
					<a href="#" class="navbar-brand"style="padding-top:15px;">E2E Testing Tool</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<div class="collapse navbar-collapse navHeaderCollapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Help</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</header>

			<br>
			<br>

			<div class="container col-md-3 col-md-offset-4">
				<form class="form-signin form-horizontal">
  					<div class="form-group">
   						<label for="InputEmail"><h6>User Name</h6></label>
    					<input type="text" name="username" class="form-control login-field" value placeholder="Enter your User Name" id="login-name">
  					</div>
  					<div class="form-group">
    					<label for="InputPassword"><h6>Password</h6></label>
    					<input type="password" name="password" class="form-control login-field" value placeholder="Enter your Password" id="login-pass">
  					</div>
  					
  					<br>
  					<br>
  						<a href="#RegisterDialog" data-toggle="modal" class="btn btn-info">Register</a>
  						<input type="submit" value="Submit" class="btn btn-info col-md-offset-1" style="width:79px;">
				</form>
			</div>

			
			<footer class="navbar navbar-default navbar-fixed-bottom">
				<div class="container">
					<p class="navbar-text pull-right">Version 1.0</p>
				</div>
			</footer>
		</div>

		<div class="modal fade" id="RegisterDialog" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4>Register New User</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
   								<label for="InputName">Name</label>
    							<input type="text" name="username" class="form-control login-field" value placeholder="Enter your Account" style="width:358px;">
  							</div>
  							<div class="form-group">
    							<label for="InputPassword">Password</label>
    							<input type="password" name="password" class="form-control login-field" value placeholder="Enter your Password" style="width:358px;">
  							</div>
  							<div class="form-group">
   								<label for="InputPassword">Confirm Password</label>
    							<input type="password" name="username" class="form-control login-field" value placeholder="confirm Password" style="width:358px;">
  							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-info" data-dismiss = "modal">Register</a>
							<a class="btn btn-info" data-dismiss = "modal">Cancel</a>
						</div>
                    </div>
				</div>
		</div>	
			






		<script src="../public/js/jquery-2.0.2.min.js"></script>
		<script src="../public/js/bootstrap.js"></script>
	    <script src="../public/js/jquery.jstree.js"></script>
	</body>