<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E2E Tool</title>
		<link href="../public/css/flat-ui.css" rel="stylesheet">
		<link href="../public/css/demo.css" rel="stylesheet">
		<link href="../public/css/bootstrap.css" rel="stylesheet">
		<script src="../public/js/jquery-2.0.2.min.js"></script>
		<script src="../public/js/bootstrap.js"></script>
	    <script src="../public/js/jquery.jstree.js"></script>
	</head>
<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
		<img src="../public/img/HP-Log/HP_Blue_RGB_150_MN.png" class="img-responsive pull-left" alt="Responsive image">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Test</a></li>
					<li><a href="#">Test</a></li>
					<li><a href="#">Test</a></li>
				</ul>
			</div>
			
		</div>

	</div>	
	<div class="container">
		<div class="login">
			<div class="login-screen" >
				<div class="login-icon">
					<img src="../public/img/HP-Log/HP_Blue_RGB_150_SM.png" alt="Welcome to E2E Tool">
					<h4>
						Welcome to
						<small>E2E Tool</small>
					</h4>
				</div>
				<form class="form-signin" action="#" method="post"> 
				<div class="login-form">
					<div class="form-group">
						<input type="text" name="username" class="form-control login-field" value placeholder="Enter your NT Account" id="login-name">
						<label class="login-field-icon fui-user" for="login-name"></label>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control login-field" value placeholder="Enter your NT Password" id="login-pass">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<div class="container">
					    <input type="submit" vaule="Submit" class="btn btn-primary btn-lg btn-block">
					    <a class="btn btn-primart btn-lg btn-block" href="#">Register</a>
					</div>
						<a class="login-link" href="#">Lost your password</a>
					
				</div>
			    </form>
			</div>
		</div>		
	</div>
</body>
</html>