<%@flows.each do |items|%>
            <ul>
              <li id="rhtml_1" class="jstree-closed">
                <a href="#"><%=items.flow_name%></a>
                <ul>
                  <% items.flowModules.each do |modules|%>
                  <li id="rhtml_<%=modules.id %>">
                    <a href="#"><%=modules.module_name%></a>
                  </li>
                  <% end %>
                </ul>
              </li> 
            </ul>
          <% end %>